
/* navbar */

.navbar{
    height: 3.90rem;
    background-color: white;
}
.fa-compass{
    font-size: 2rem;
    color: red;
}
.nav-link{
    color: #222222 !important;
}

/* footer */

.f-info-link a{
    text-decoration: none;
  color:   #222222;
    
}

.f-info-link a:hover{
    text-decoration: underline;
    color: red;
}

.f-info-social{
    width: 100%;
}
.f-info-social i{
    margin-right: 1rem;
    font-size: 1.2rem;

}
.f-info-name{
    width: 100%;
}


.f-info{
    text-align: center;
    height: 8rem;
    background-color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

/* card*/

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.idd {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)); /* Responsive grid layout */
    gap: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 100%; /* Ensures the grid container takes up the full width of the screen */
    margin: 0 auto; /* Center the grid container */
}

.id {
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    height: 25rem;
    background-color: rgb(248, 250, 253);
}

.c-img {
    border-radius: 1rem;
    width: 100%; /* Image takes the full width of the card */
    height: 15rem; /* Fixed image height */
}


p{
    margin: 1rem 0;
    font-size: 1rem;
    color: #222222;
}
.card-link{
    text-decoration: none;
}
.id:hover{
    opacity: 0.8;
    background-color: white;
}
