<style>
    /* CSS styles go here */
    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    body {
        display: flex;
        flex-direction: column;
    }

    footer {
        margin-top: auto;
        text-align: center;
    }

    .f-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .f-info-social {
        margin-bottom: 10px;
    }

    .f-info-social i {
        margin: 0 10px;
    }

    .f-info-link a {
        margin: 0 10px;
        text-decoration: none;
        color: #000;
    }

    .f-info-link a:hover {
        text-decoration: underline;
    }
</style>
</head>
<body>
<!-- Your page content goes here -->

<footer>
    <div class="f-info">
        <div class="f-info-social">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="f-info-name">&copy; Wanderlust Private Limited</div>
        <div class="f-info-link">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>